body{
    overflow-y: hidden;
    overflow-x: hidden;
}

#background{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/Cutting Mat.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.chicken-img{
    position: absolute;
    width: 30%;
    top: 0%;
    animation: mymove 5s;

    /* source - https://www.wyzant.com/resources/answers/711196/how-do-i-stop-a-keyframe-animation-from-looping-with-css3 */
    animation-fill-mode: forwards;
}

@keyframes mymove {
    
    from {
        top: 0px;
    }

    25%{
        top: 150px;
    }

    50%{
        top: 300px;
    }

    75%{
        top: 450px;
    }

    to {
        top: 610px;
    }
}