@font-face {
  font-family: coolvetica;
  src: url('fonts/coolvetica rg.otf');
}


html, body {
  margin: 0;
  padding: 0;
  background: white;
}


.insta-margin1{
  width: 700px;
  height: 700px;
  background-color: yellow;
}

.upper-section{
  padding-bottom: 1%;
  padding-top: 1%;
}
#heading{
  font-family: coolvetica;
  text-transform: uppercase;
  margin-left: 8px !important;
}
#description{
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: black;
  text-align: right;
  margin-right : 8px !important;
}

#img-container img{
  width: 100%;
}

#bottom-text-01{
  text-align: left;
  margin-left: 8px !important;  
  margin-top: 2%;
  font-family: poppins;
  font-weight: 400;
  color: black;
}
#bottom-text-02{
  text-align: right;
  margin-right: 8px !important;
  margin-top: 2%;
  font-family: poppins;
  font-weight: 400;
  color: black;
}