@font-face {
  font-family: coolvetica;
  src: url('fonts/coolvetica rg.otf');
}


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.insta-margin{
  width: 50%;
  background: yellow;
}

.upper-section{
  margin-top: 0.6%;
  padding-bottom: 1%;
  padding-top: 1%;
}
#heading{
  font-family: coolvetica;
  text-transform: uppercase;
  margin-left: 0px !important;
}
#description{
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: black;
  text-align: right;
  margin-right : 0px !important;
}

#img-container img{
  width: 59.4%;
  margin-left: 20.3%;
}

#bottom-text-01{
  text-align: left;
  margin-left: 0px !important;  
  margin-top: 2%;
  font-family: poppins;
  font-weight: 400;
  color: black;
}
#bottom-text-02{
  text-align: right;
  margin-right: 0px !important;
  margin-top: 2%;
  font-family: poppins;
  font-weight: 400;
  color: black;
}