/* Font - Inconsolate */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Poppins&display=swap');


html, body 
{
  margin: 0;
  padding: 0;
  background: white;
  overflow-x: hidden;
}

.top-text-section
{
  position: relative;
}
#top-text
{
  font-size: 25px;
  color: blue;
  font-family: 'Inconsolata';
}
#top-text-right
{
  margin-left: 40%;
  font-size: 25px;
  color: blue;
  font-family: 'Inconsolata';
}

canvas 
{
  position: relative;
  display: block;
  margin-bottom: 5%;
}

bottomtext
{
  margin-left: 2%;
  font-size: 25px;
  color: blue;
  font-family: 'Inconsolata';
  position: relative;
}
bottomtext-two
{
  margin-left: 20%;
  font-size: 25px;
  color: blue;
  font-family: 'Inconsolata';
  position: relative;
}
bottomtext-three
{
  margin-left: 2%;
  font-size: 25px;
  color: blue;
  font-family: 'Inconsolata';
  position: relative;
  margin-top: 5%;
}


/* Gradient */
#box
{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 110vh;
}