/* Font - Inconsolate */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Poppins&display=swap');


html, body 
{
  margin: 0;
  padding: 0;
  background: white;
  overflow-x: hidden;
  overflow-y: hidden;
}


.top-text-section{
  position: relative;
  margin-top: 4%;
}
#top-text{
  font-size: 20px;
  color: black;
  font-family: 'Inconsolata';
  text-transform: uppercase;
}
#top-text-right{
  font-size: 20px;
  color: black;
  font-family: 'Inconsolata';
  text-transform: uppercase;
}


canvas {
  position: relative;
  display: block;
  margin-top: 5%;
  margin-bottom: 4%;
}


bottomtext{
  margin-left: 2%;
  font-size: 20px;
  color: black;
  font-family: 'Inconsolata';
  position: relative;
}
bottomtext-two{
  margin-left: 40%;
  font-size: 20px;
  color: black;
  font-family: 'Inconsolata';
  position: relative;
}
bottomtext-three{
  margin-left: 2%;
  font-size: 20px;
  color: black;
  font-family: 'Inconsolata';
  position: relative;
  margin-top: 5%;
}


/* Gradient */
#box{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 110vh;
  margin-top: 0%;
}